*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.index-body{
    background-color: rgb(202, 202, 226);
    padding: 32px;
}

.my-main{
   margin-top: 32px;
   margin-bottom: 32px;
}

/* .my-title-ad{
    margin-bottom: 16px;
} */

.my-section{
    margin-bottom: 18px;
}
.my-info{
   
    background-color: rgb(113, 113, 219);
    color: white;
    margin: 0 32px 32px 32px;
    padding: 32px;
    border-radius: 10%;
    
}

.contact{
    margin: 72px;
}


.my-textarea{
    width: 100%;
}

.my-title-ad{
    margin-bottom: 48px;
}

/* css for login */
.gradient-custom-4 {
    background: #84fab0;
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
  }