*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;

}

body{
    background-color: rgb(233, 233, 233);
}

.index-body{
    background-color: rgb(202, 202, 226);
    padding: 32px;
}

.my-main{
   margin-top: 80px;
   margin-bottom: 32px;
   background-color: #fff;
   padding: 8px;
      
}

.f-header{
    margin-top: 100px;
    background-color: #fff;
    padding: 0 0 16px 0;
    margin-bottom: 40px;
  
}
/* .my-title-ad{
    margin-bottom: 16px;
} */

.my-section{
    margin-bottom: 18px;
}
.my-info{
   
    background-color: rgb(113, 113, 219);
    color: white;
    margin: 0 32px 32px 32px;
    padding: 32px;
    border-radius: 10%;
    
}

.contact{
    margin: 72px;
}


.my-textarea{
    width: 100%;
}

.my-title-ad{
    padding: 8px;
    background-color: #ccc;
    border-bottom: 2px solid rgb(95, 94, 94);
    margin-bottom: 48px;
}

/* css for login */
.gradient-custom-4 {
    background: #84fab0;
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
  }

  .add-tour p{
      font-weight: bold;
  }

  .form-add{
    font-weight: bold;

  }

  .edit-tour p{
    font-weight: bold;
  }

  .table-tour{
      height: 800px!important;
        margin-top: 18px;
  }

  .add-tour{
      margin: 100px 48px;
  }

  .table-tour.head{
      position: sticky;
      top:0;
  }

  .t-child-2{
      font-size: 18px;
      opacity: 0.9;
  }

  .t-child-3{
      font-size: 16px;
      opacity: 0.7;
  }