
.my_map{
    font-size: 13px;
    background-color: #ecf0f5;
    width: 100%;
    margin-top: 30px ;
    padding: 64px 0;
   
}

.huyen_row {
    margin-bottom: 48px;
}
.my_map .card-title{
    font-size: 16px;
    font-weight: 650;
}
.my_map .score{
    padding: 3px ,5px;
    border-radius: 6px;
    background: #9fc43a;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
}
.my_map .score-des{
    color: #9fc43a;
    font-weight: bold;
}
.my_map .price{
    font-size: 22px;
    font-weight: bold;
    float: right ;
    color: #00C1DE;
    text-decoration: none;
}
.headline{
    margin-bottom: 30px;
    border-bottom: 2px;
    margin-top: 5px;
    border-bottom: 2px solid #003C71;
    
}

.list_desmap{
    margin-top: 10px;
    margin-left: 10px;
}
.huyen-img{
    position: relative;
}
.huyen-card{
    position: absolute;
    background-color: #003C71;
    color: white;
    font-weight: bold;
    opacity: 0.9;
    bottom: 0;
}
.fa-map-marker-alt{
    color: rgb(236, 158, 13);
    font-size: 13px ;
}

:root{
    --my-color: #0c2461; 
}

.my-banner{
    height: 500px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.my-btn-search{
    background-color: var(--my-color);
    color: white;
}

.my-btn-search:hover{
    color: var(--my-color);
    background-color: white;
    border: 1px solid var(--my-color);
}

.my-banner-content{
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 20px;
    background-color: rgba(153, 149, 149, 0.5);
    padding: 16px;
    
}

.my-search{
    margin: 32px 16px 16px 0;
}

.my-search input{
   padding: 8px 0 8px 24px;
}

.my-description{
    margin: 16px 0;

}

.my-hottour{
    margin-top: 15%;
    
}

.my-btn-search{
    background-color: var(--my-color);
}


.my-header {
    min-height: 80px;
    background-color: #0c2461;
    
}

.my-footer {
    background-color: #ddd;
    padding: 32px;
}

