

.my_map{
    font-size: 13px;
    background-color: #ecf0f5;
    width: 100%;
    margin-top: 30px ;
    padding: 64px 0;
   
}

.huyen_row {
    margin-bottom: 48px;
}
.my_map .card-title{
    font-size: 16px;
    font-weight: 650;
}
.score{
    padding: 3px ,5px;
    border-radius: 6px;
    background: #9fc43a;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
}
.score-des{
    color: #9fc43a;
    font-weight: bold;
}
.my_map .price{
    font-size: 22px;
    font-weight: bold;
    float: right ;
    color: #00C1DE;
    text-decoration: none;
}
.headline{
    margin-bottom: 30px;
    border-bottom: 2px;
    margin-top: 5px;
    border-bottom: 2px solid #003C71;
    
}

.headline a {
    color: rgb(59, 55, 55);
    font-size: 18px;
}

.list_desmap{
    margin-top: 10px;
    margin-left: 10px;
}
.huyen-img{
    position: relative;
}
.huyen-card{
    position: absolute;
    background-color: #003C71;
    color: white;
    font-weight: bold;
    opacity: 0.9;
    bottom: 0;
}
.fa-map-marker-alt{
    color: rgb(236, 158, 13);
    font-size: 13px ;
}

:root{
    --my-color: #0c2461; 
}

.my-banner{
    height: 500px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.my-btn-search{
    background-color: var(--my-color);
    color: white;
}

.my-btn-search:hover{
    color: var(--my-color);
    background-color: white;
    border: 1px solid var(--my-color);
}

.my-banner-content{
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 20px;
    background-color: rgba(153, 149, 149, 0.5);
    padding: 16px;
    
}

.my-search{
    margin: 32px 16px 16px 0;
}

.my-search input{
   padding: 8px 0 8px 24px;
}

.my-description{
    margin: 16px 0;

}

.my-hottour{
    margin-top: 15%;
    
}

.my-btn-search{
    background-color: var(--my-color);
}


.my-header {
    min-height: 80px;
    background-color: #0c2461;
    
}

.my-footer {
    background-color: #ddd;
    padding: 64px;
}
.header-moretour{
    text-align: center;
    font-size: 40px;
    color: #003c71;
    margin: 50px 0 30px 0;
}
.my_moretour{
    background-color:#ecf0f5;
}
.img-moretour{
   width: 100%;
    height: 90%;
    margin-top: 8px;
}
.row-white{
    background-color: white;
    
    margin-top: 30px;
    margin-bottom: 30px;
}
.linkdetail{
    color: #003c71;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600
}
.col-huyen a{
    text-decoration: none;
    color: black;
}
.headline a {
    color: rgb(59, 55, 55);
    font-size: 18px;
}
.list_moretour >ul {
    color: #00abc5;
    margin: 5px 0 10px 18px;
}
.text-gray{
    color: #a4a4a3;
    font-size: 30px;
}
.text-centermoretour{
    text-align: right;
}
.price-moretour{
    color: #00c1de;
    font-size: 30px;
}
.textgray-moretour{
    color :rgba(129,129,128,0.85);
    font-size: 14px;
}
.hover-th:hover {
    opacity: 0.8;
}


.headline a{
    color: rgb(59, 55, 55);
    font-size: 18px;
}

.col-huyen a{
    text-decoration: none;
    color: black;
}



.col a p {
    margin-bottom: 0.6rem;
}

/*tourdetails.php*/
.my-tourdetails{
    padding: 48px;
    background-color: rgb(222, 229, 233);
    box-sizing: border-box;
}

.my-tour{
    position: relative;
    height: 440px;
    margin-top: 24px;
}


.my-tour .bg{
    background-image: url(https://cdn2.ivivu.com/2021/08/12/10/canada-01-750x390.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
}

.my-tour .my-intro{
    background-color: rgb(223, 219, 219);
    position: absolute;
    bottom: 0;
    padding: 16px 0;
    width: 100%;
}

.my-tour .my-intro span{
    color: rgb(109, 104, 104);
    font-weight: bold;
    font-size: 18px;
    margin: 0 8px;
}

.my-tourdes{
    margin: 48px 0;
    background-color: #fff;
    padding: 24px;

}

<<<<<<< HEAD

/* CSS: create-tour.php */ 
.tailor-tour {
    background-image: url("../img/create-tour.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 300px; 
} 

.banner-content-th{
    margin: 2% 0 6% 5%;
    padding: 16px;
    max-width: 80%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255,0.9);
    text-align: justify;
}

.banner-content-th h3 {
    color: var(--my-color);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}

.btn-th {
    background-color: #e67e22;
    color: #fff;
    min-width: 40%;
    border: none
}

.btn-th:hover {
    color: #fff;
    background-color: #e66108;
}

.img-tailor-th {
    width: 40px;
    padding-bottom: 10px;
}

.tailor-service-th {
    padding: 40px 0;
}

.col-th {
    padding: 10px;
}

.tailor-item {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 10%);
    background-color: #feeec7;
    padding: 15px;
}

.tailor-content-1 {
    background-color: #ecf0f5;
    min-height: 300px;
    
}

.tailor-content-2 {
    font-size: 13px;
    width: 100%;
    margin-top: 30px ;
    padding: 64px 0;
}

.price-th{
    font-size: 22px;
    font-weight: bold;
    float: right ;
    color: #00C1DE !important;
    text-decoration: none;
}

.form-send-require {
    padding: 50px;
    min-height: 300px;
    background-color: #F8EFBA;
}

#Input-th {
    min-height: 70px;
}
/*  */


.form-select{
    margin-top: 50px;
    margin-bottom: 150px;
}


.my-tourdetails .des{
    margin-top: 24px;
}

.my-orderTour{
    padding: 24px 18px;
    margin: 24px 24px 0;
    background-color: #F3E2A9;
}

.my-orderTour .info{
    padding: 12px;
    background-color: white;
    border-radius: 4px;
    margin: 0 8px;
}

.my-orderTour input{
    border: none;
}

.my-orderTour select{
    margin: 0!important;
    padding: 8px;
}

.my-orderTour .total{
    color: #FE9A2E;
    margin: 0 8px;
}

.my-orderTour button{
    background-color:#FE9A2E ;
    width: 100%;
    border: none;
    padding: 12px;
    margin-top: 24px;
    font-weight: bold;
    font-size: 18px;
}

.my-orderTour .order-btn{
    padding: 8px;
}

.my-list-option{  
    margin: 24px 24px 0;
}
.my-relative{
    position: relative;
}

.my-sticky{
    position: sticky;
    top: 0;
}

.my-tour-connect{
    padding: 24px 18px;
    background-color: white;
  
}

.my-tourdetails .my-headline{
    background-color: #DDDDDD;
    font-size: 18px;
    padding: 8px 16px;
}

.my-tourdetails h1{
    color: var(--my-color);
}

.my-tour-connect .price{
    margin: 72px 0 0 0;
}

.my-tour-connect .card-title{
    margin-bottom: 24px;
    color: var(--my-color);
}

.my-tourdetails a{
    text-decoration: none;
        color: var(--my-color);
}

.my-tour-connect .price{
    color: #339cff;
}



